<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.lemonit.lemage">

    <application>
        <activity android:name=".activity.PreviewActivity"></activity>
        <activity android:name=".activity.LemageActivity"></activity>
    </application>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
