<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.lemonit.lemage" >

    <application>

        <activity
            android:name=".activity.CameraActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize">
        </activity>

        <activity
            android:name=".activity.PreviewActivity"
            >
        </activity>

        <activity
            android:name=".activity.SelectActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize">
        </activity>

    </application>

</manifest>
